[submodule "third-party/vcpkg"]
	path = third-party/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui.git
